/*
 # headings #
*/

// * imports
@import '../vars';

/* ===================================================
  All Screen Sizes
=================================================== */

h1,
h2,
h4,
h5,
h6 {
  font-family: $fontDisplay;
}
h1,
h6 {
  font-weight: 600;
}
h2,
h4,
h5 {
  font-weight: 500;
}
h3 {
  font-family: $fontBody;
  font-weight: 300;
}

h1 {
  font-size: 3.125em; // ~50px
  line-height: 3.75em; // ~60px
}
h2 {
  font-size: 2.25em; // ~36px
  line-height: 2.69em; // ~43px
}
h3 {
  font-size: 1.86em; // ~30px
  line-height: 2.25em; // ~36px
}
h4 {
  font-size: 1.63em; // ~26px
  line-height: 2.05em; // ~33px
}
h5 {
  font-size: 1.38em; // ~22px
  line-height: 1.69em; // ~27px
}
h6 {
  font-size: 1.13em; // ~18px
  line-height: 1.31em; // ~21px
}

/* ===================================================
  END All Screen Sizes
=================================================== */


/* ===================================================
  Small Screens & Up (min-width: 576px)
=================================================== */

@media screen and (min-width: $breakpointSm) {

  

}

/* ===================================================
  END Small Screen Sizes
=================================================== */


/* ===================================================
  Medium Screens & Up (min-width: 768px)
=================================================== */

@media screen and (min-width: $breakpointMd) {

  

}

/* ===================================================
  END Medium Screen Sizes
=================================================== */


/* ===================================================
  Large Screens & Up (min-width: 992px)
=================================================== */

@media screen and (min-width: $breakpointLg) {

  h1 {
    font-size: 3.33em; // ~60px
    line-height: 4em; // ~72px
  }
  h2 {
    font-size: 2.44em; // ~44px
    line-height: 3em; // ~53px
  }
  h3 {
    font-size: 2.11em; // ~38px
    line-height: 2.55em; // ~46px
  }
  h4 {
    font-size: 1.77em; // ~32px
    line-height: 2.22em; // ~40px
  }
  h5 {
    font-size: 1.55em; // ~28px
    line-height: 1.88em; // ~34px
  }
  h6 {
    font-size: 1.33em; // ~24px
    line-height: 1.55em; // ~28px
  }
}

/* ===================================================
  END Large Screen Sizes
=================================================== */


/* ===================================================
  Extra Large Screens & Up (min-width: 1200px)
=================================================== */

@media screen and (min-width: $breakpointXl) {

  

}

/* ===================================================
  END Extra Large Screen Sizes
=================================================== */
